.logo-menu
    margin-top: 30px
    width: 70%
.menu
    background-color: #ffffff
    ul
        margin-top: 70px
        float: right
        li
            display: inline-block
            padding-left: 32px
            a
                font-size: 16px
                font-weight: bold
                letter-spacing: 10px
                text-decoration: none
                color: #aaaaaa
                &:hover
                    color: #c80505
.menu-fixo
    position: fixed
    top: 0
    z-index: 99