#produtos
    h2
        margin-top: 80px
    p
        margin-bottom: 60px
    #slide_prod_1, #slide_prod_2, #slide_prod_3, #slide_prod_4
        margin: 60px 0 70px 0
        img
            margin: 0 auto 55px auto