#produtos
    h2
        margin-top: 80px
    #slide_prod_1
        margin-top: 60px
        .item-produto
            clear: both
            background-color: #0e023e
            color: #ffffff
            text-transform: uppercase
            text-align: center
            font-weight: 700
            font-size: 22px
            padding: 15px 15px
            display: table
            margin: 0 auto
            width: 335px