#servicos
    margin-top: 60px
    p
        margin-bottom: 70px

.servicos-item
    //+make-md-column-offset(1)
    +make-md-column(4)
    +make-sm-column(4)
    +make-xs-column(12)
    min-height: 250px
    border: solid 1px #d7d7d7
    margin-bottom: 22px
    img
        margin-top: 70px
        margin-bottom: 20px
    h3
        color: #aaaaaa
        font-size: 20px
        text-transform: uppercase
        text-align: center
    p
        display: none
        text-align: center
        color: #ffffff
    &:hover
        +gradient(-45deg, #0e023e, #19036d)
        border: solid 1px #0e023e
        img
            margin-top: 40px
        #man-c
            content: url('../images/manutencao-c-hover.png')
        #man-p
            content: url('../images/manutencao-p-hover.png')
        #vas
            content: url('../images/vassoura-hover.png')
        #man
            content: url('../images/manutencao-hover.png')
        #cons
            content: url('../images/manutencao-p-hover.png')
        #exau
            content: url('../images/exaustor-hover.png')
        h3
            color: #ffffff
        p
            display: block