#sobre
    margin-top: 60px
    background-color: #fafafa
    background-size: cover
    width: 100vw
    h2
        margin-top: 70px        
    .mini-texto
        font-size: 16px
        font-weight: 300
        text-align: center
        color: #aaaaaa
        margin: 20px 0 55px 0
    .item-sobre
        background-repeat: no-repeat
        background-size: cover
        background-clip: content-box
        height: 100%
        //width: 338px
        +make-md-column(4)
        h3
            text-align: center
            text-transform: uppercase
            font-weight: 700
            color: #ffffff
            margin: 55px 0 25px 0
        p
            text-align: center
            color: #ffffff
            font-size: 16px
            font-weight: 300
            margin: 27px 60px 0 60px
    #missao
        background-image: url('../images/missao.jpg')
    #visao
        background-image: url('../images/visao.jpg')
    #valores
        background-image: url('../images/valores.jpg')